.section-projects#projects
  .cf
    .fl.w-100.w-50-ns.tc.pa3.pb4.proj-left-col
      ul.list.pl0.ml0.center.mw5.ba.b--near-black.br3.mt5-ns.bw2
        li.ph3.pv2.bb.b--near-black.bw2.bg-white
          a(href="https://www.github.com/corderophilosophy" target="_blank").link.b.black Github
        li.ph3.pv2.bb.b--near-black.bw2.bg-white
          a(href="https://www.codepen.io/corderophilosophy" target="_blank").link.b.black Codepen
        li.ph3.pv2.bg-white
          a(href="https://www.freecodecamp.com/corderophilosophy" target="_blank").link.b.black freeCodeCamp

    .fl.w-100.w-50-ns.tc.pa3.pb4.proj-right-col
      .mw5.mw7-ns.center.pa3.ph5-ns.mt5-ns
        .f2.white See some of my work
